<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-3 pb-2 mb-">
  <h1 class="h2">Appointments</h1>

  <!-- <div>
    <button class="btn btn-sm btn-primary" (click)="addappointment()">Make Appointment</button>
  </div> -->
</div>

<div class="table-responsive">

  <div class="row py-3 mx-md-0">
    <form class="form-inline">
      <input class="form-control mr-2" type="text" placeholder="Search appointments" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Patient ID</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{appointment.appointmentId}}</td>
        <td>{{appointment.patientId}}</td>
        <td>{{appointment.appointmentDate}}</td>
        <td>{{appointment.appointmentTime}}</td>
      </tr>
    </tbody>
  </table>
</div>