<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-3 pb-2 mb-">
  <h1 class="h2">Patients</h1>

  <div>
    <button class="btn btn-sm btn-primary mr-2" (click)="addvital()">Register Patient</button>
  </div>
</div>

<div class="table-responsive">

  <div class="row py-3 mx-md-0">
    <form class="form-inline">
      <input class="form-control mr-2" type="text" placeholder="Search vital" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Details</th>
        <th>Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vital of vitals">
        <td>{{vital.vitalId}}</td>
        <td>{{vital.firstName}}</td>
        <td>{{vital.lastName}}</td>
        <td>{{vital.gender}}</td>
        <td>{{vital.age}}</td>
        <td>{{vital.phoneNumber}}</td>
        <td><button class="btn btn-block btn-sm btn-outline-primary" (click)="viewPatientDetails(vital.vitalId)">View</button></td>
        <td><button class="btn btn-block btn-sm btn-outline-primary" (click)="addappointment(vital.vitalId)">Make</button></td>
      </tr>
    </tbody>
  </table>
</div> -->