<div>
  <header>
    <div class="container">
      <div class="row justify-content-center">
        <h4 class="display-4 text-primary text-center font-weight-bold">RECORDS</h4>
      </div>
    </div>
  </header>

  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">

        <div class="card shadow-sm rounded p-5 bg-light border">
          <div class="row justify-content-center">
            <div class="col-md-3 text-center">
              <a routerLink="/records/patients" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Patients
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center">
              <a routerLink="/records/appointments" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Appointments
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center">
              <a routerLink="/records/staffs" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Staffs
                </span>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="bottom-fixed">
    <div class="container">
      <div class="row justify-content-center my-5 py-5">
        <span class="small text-center text-muted">Cyapex &copy; 2018, All Rights Reserved.</span>
      </div>
    </div>
  </footer>
</div>