<div>
  <header>
    <div class="container">
      <div class="row justify-content-center my-2 py-5">
        <h4 class="h4 text-primary text-center font-weight-bold">HOSPITAL MANAGEMENT SYSTEM</h4>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">

        <div class="card shadow-sm rounded p-5 bg-light border">

          <div class="row justify-content-center">
            <div class="col-md-3 text-center">
              <a routerLink="/records" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Record
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center">
              <a routerLink="/consultation" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Consultation
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center">
              <a routerLink="/pharmacy" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Pharmacy
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center">
              <a routerLink="/lab" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Lab
                </span>
              </a>
            </div>

            <div class="col-md-3 text-center mt-3">
              <a routerLink="/nurse" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Nurses
                </span>
              </a>
            </div>

            <!-- <div class="col-md-3 text-center">
              <a routerLink="" class="btn btn-block btn-outline-primary card shadow-sm justify-content-center align-middle py-5">
                <span class="font-weight-bold">
                  Admin
                </span>
              </a>
            </div> -->

          </div>

        </div>

      </div>
    </div>
  </div>

  <footer class="bottom-fixed">
    <div class="container">
      <div class="row justify-content-center my-5 py-5">
        <span class="small text-center text-muted">Cyapex &copy; 2018, All Rights Reserved.</span>
      </div>
    </div>
  </footer>
</div>