<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-8 p-5 bg-light shadow">
      <div *ngIf="response" class="alert alert-info text-center font-weight-bold">
        {{response}}
      </div>
      
      <form [formGroup]="staffFormGroup" (ngSubmit)="registerStaff()">
        <div class="form-row mb-5">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
          </div>

          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
          </div>
        </div>

        <div class="form-row mb-5">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
            <span class="small">
              Must be unique 6 characters.
            </span>
          </div>

          <div class="col-md-6">
            <select class="form-control" formControlName="unit">
              <option value="null" selected>--Select Role--</option>
              <option value="records">records</option>
              <option value="consultation">consultation</option>
              <option value="pharmacy">pharmacy</option>
              <option value="lab">lab</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-5">
          <div class="col-md-6">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <span class="small">
              Must be a minimum of 6 characters.
            </span>
          </div>

          <div class="col-md-6">
            <input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Confirm Password" />
            <span class="small">
              Must be thesame with password.
            </span>
          </div>
        </div>
        <input type="submit" [disabled]="!staffFormGroup.valid || password != confirmPassword" class="btn btn-primary px-5" value="Register">
      </form>

    </div>
  </div>
</div>